h2,p{
    margin:0;
}


.page{
    width:100vw;
    height: 100vh;
    background: linear-gradient(180deg, #72BEFF 0%, #B6E3FF 100%);
}
    .container{
        font-family: Open Sans;
        color: #FFFFFF;
        margin:auto;
        padding-top:100px;
        width:610px;
        height: 100wh;
        .link{
            width: 220px;
            margin:auto;
            margin-top: 68px;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            // text-align: center;
            
            a,a:active{
                text-decoration: none;
                color: #000AFF;
            }
        }
        .weather{
            margin:0;
            
            width:100%;
            height: 560px;
            box-sizing: border-box;
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.14);
            background: linear-gradient(180deg, #74C5FF 0%, #A4DEFF 100%);
            .weather-main{
                display: flex;
                justify-content:space-between;
                height: 275px;
                .weather-main-info{
                    text-indent:50px;
                    width:305px;
                    text-align:left;
                    .city{
                        margin-top:50px;
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 49px;
                    }
                    .day{
                        
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 19px;
                        
                    }
                    .temperature{
                        font-weight: normal;
                        font-size: 60px;
                        line-height: 82px;
                    }
                    .weather-now{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
                .weather-main-image{
                    margin-top:63px ;
                    margin-right:48px ;

                    .weather-main-image-item{
                        height:150px;
                        width:209px;
                    }
                    //
                }
            }
            .weather-additions{
                border-radius: 15px;
                margin:21px 20px 20px 20px;
                height:244px;
                width: 570px;
                display:flex;
                justify-content:space-between;
                //
                background: rgba(18, 69, 146, 0.14);
                .weather-aditions-icons{
                    display:flex;
                    flex-direction:column;
                    text-align:rigth;
                    img:first-child{
                        width:14px;
                        height:19.5px;
                        margin-top:32px;
                        margin-bottom:15px;
                        margin-left:35px;
                        }
                    img{
                        margin-bottom:18px;
                        margin-left:30px;
                        width:24px;
                        height:22px;
                        }
                }
                .weather-aditions-titles{
                    display:flex;
                    flex-direction:column;
                    text-align:left;
                    margin-left:-170px;
                    // pading-left:20px;
                    .weather-aditions-titles-item:first-child{
                        margin-top:32px;
                    }
                    .weather-aditions-titles-item{
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 19px;
                        margin-bottom: 20px;
                    }
                }
                .weather-aditions-values{
                    display:flex;
                    flex-direction:column;
                    text-align:right;
                    margin-right:30px;
                    .weather-aditions-values-item:first-child{
                        margin-top:32px;
                    }
                    .weather-aditions-values-item{
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 19px;
                        margin-bottom: 20px;
                    }
                }

            }
        }
    }
    .night{
        background: linear-gradient(329.82deg, #071D65 18.38%, #05174F 81.62%);
        .container{
            .nightWeather{
                background: linear-gradient(170.67deg, #051F71 7.05%, #071C5E 92.95%);
            border: 1px solid rgba(255, 255, 255, 0.14);
            }
        }
        .link{
            a,a:active{
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }